.background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;

  position: absolute;
  pointer-events: none;

  .titlesContainer {
    opacity: .04;
  }
}

.backgroundTitle {
  font-family: var(--chakra-fonts-body);
  font-style: normal;
  font-weight: normal;
  font-size: Max(Min(5.7vw, 100px), 15px);
  white-space: nowrap;
  line-height: 125px;
  line-height: Max(1.25em, 80px);
  letter-spacing: 0.23em;
  text-transform: uppercase;
  text-align: center;

  animation: three-step-fade 5s var(--bezier-symmetric) infinite;
  animation-delay: calc(var(--_index, 0) * .15s);
}

.illustrationsContainer {
  opacity: .75;


  svg {
    filter: blur(92px);
    animation: three-step-fade 15s var(--bezier-symmetric) infinite;
  }

}

@keyframes three-step-fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}